// Font
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Fraunces', sans-serif;
$font-size: 14px;

// Colors
$background-color: hsl(30, 38%, 92%);
$primary-color: hsl(158, 36%, 37%);
$primary-dark-color: hsl(158, 80%, 10%);
$secondary-color: hsl(0, 0%, 100%);
$gray-color: hsl(228, 12%, 48%);
$dark-color: hsl(212, 21%, 14%);
